/build/
/dist/
/KhanzaHMSServiceMobileJKNERMLogTaskId/build/
/KhanzaHMSServiceMobileJKNERMLogTaskId/dist/
/KhanzaHMSServiceMobileJKNERMLogTaskId/nbproject/private/
/KhanzaHMSServiceMobileJKNERMJuni2024/build/
/KhanzaHMSServiceMobileJKNERMJuni2024/dist/
/KhanzaHMSServiceMobileJKNERMJuni2024/nbproject/private/
/KhanzaCetakAntrianLoket/build/
/KhanzaCetakAntrianLoket/dist/
/anjunganmandiriSEP/build/
